<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
</head>
<body>
    <footer id="footer" th:fragment="footer"><br/>
			<div class="container-fluid">
				<div class="row p-5 pb-2" style="background-color:#4D2D9F;">
					<div class="col-xs-12 col-md-6 col-lg-3">
						<p class="h4 mb-3" style="color:white">¿Quiénes somos?</p>
						<div class="mb-2">
							<a class="text-white text-decoration-none" >Sobre nosotros</a>
						</div>
						<div class="mb-2">
							<a class="text-white text-decoration-none">Contáctanos</a>
						</div>			
					</div>
					
					<div class="col-xs-12 col-md-6 col-lg-3">
						<p class="h4 mb-3" style="color:white">Recursos</p>
						<div class="mb-2">
							<a class="text-white text-decoration-none" >Centro de ayuda</a>
						</div>				
						<div class="mb-2">
							<a class="text-white text-decoration-none" >Cómo funciona</a>
						</div>
					</div>
					<div class="col-xs-12 col-md-6 col-lg-3">
						<p class="h4 mb-3" style="color:white">Busca trabajo</p>
						<div class="mb-2">
							<a class="text-white text-decoration-none" >IT & Programación</a>
						</div>
						<div class="mb-2">
							<a class="text-white text-decoration-none" >Diseño & multimedia</a>
						</div>
					</div>
					<div class="col-xs-12 col-md-6 col-lg-3">
						<p class="h4 mb-3" style="color:white">Socios</p>
						<div class="mb-2">
							<a class="text-white text-decoration-none" >Argentina</a>
						</div>
						<div class="mb-2">
							<a class="text-white text-decoration-none" >Brasil</a>
						</div>
					</div>
					<div class="col-xs-12 pt-4"> 
			    		<p class="text-white text-center">Copyright - Todos los derechos reservados 2022</p>
			    	</div>
				</div>
			</div>
    </footer><br/>
    
    <script type="text/javascript" src="webjars/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" src="webjars/popper.js/2.9.3/js/popper.min.js"></script>
    <script type="text/javascript" src="webjars/bootstrap/5.1.3/js/bootstrap.min.js"></script>
</body>
</html>