<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Inicio de pagina</title>
	<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>

<body>
	<nav th:replace="layouts/header :: header"></nav>
	<br/>
	
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-6">
				<h1 class="titulo-index">Bienvenidos a la Nueva Era del Trabajo</h1>	
				<h3> Conectamos los mejores talentos independientes con las mejores empresas.</h3><br/>
				<div class="row">
					<div class="col-sm-12 col-md-6">	
						<button type="button" class="btn btn-primary btn-lg">Registro Ciudadano</button>
					</div>
					<div class="col-sm-12 col-md-6">	
						<button type="button" class="btn btn-secondary btn-lg">Registro Empleador</button>
					</div>
				</div>
			</div>
			<div class="col-sm-12 col-md-6">	
				<img src="/images/portada.png" class="d-block w-100" alt="imagen1">		         
			</div>
		</div>
	</div>
	
	<br />
	<footer th:replace="layouts/footer.html ::footer"></footer>
	
	<script type="text/javascript" th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/popper.js/2.9.3/umd/popper.min.js}"></script>
	<script type="text/javascript" th:src="@{/webjars/bootstrap/5.1.3/js/bootstrap.min.js}"></script>
</body>
</html>