<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>				
		<meta charset="UTF-8">
		<title>Nuevo Empleador</title>
	</head>
	<body >
		<header th:replace="/layouts/header::header"></header>
		<div class="container col-4">
			<h2>ALTA DE EMPLEADOR</h2><br>
			<form th:action="@{/saveEmpleador}" method="POST" th:object="${empleador}">
			  <div class="mb-3">
			    <label for="idEmail" class="col-form-label">Email</label>
			    <input th:field="*{email}" type="text" class="form-control" id="idEmail">
			    <div class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
			  </div>
			  <div class="mb-3">
			    <label for="idContraseña" class="col-form-label">Contrasena</label>
			    <input th:field="*{contraseña}" type="text" class="form-control" id="idContraseña">
			    <div class="text-danger" th:if="${#fields.hasErrors('contraseña')}" th:errors="*{contraseña}"></div>
			  </div>
			  <div class="mb-3">
					<label for="inProvincia" class="form-label">Provincia</label> 
					<select	class="form-control mb-3" th:field="*{provincia}" id="inProvincia">
						<option th:each="provincia : ${provincias}" th:value="${provincia}" th:text="${provincia}"></option>
					</select>
				</div>
			  <div class="mb-3">
			    <label for="idCuit" class="col-form-label">CUIT</label>
			    <input th:field="*{cuit}" type="text" class="form-control" id="idCuit">
			    <div class="text-danger" th:if="${#fields.hasErrors('cuit')}" th:errors="*{cuit}"></div>
			  </div>
			  <div class="mb-3 row">
			    <label for="idRazon" class="col-form-label">Razon Social</label>
			    <input th:field="*{razon}" type="text" class="form-control" id="idRazon">
			    <div class="text-danger" th:if="${#fields.hasErrors('razon')}" th:errors="*{razon}"></div>
			  </div>
			  <div class="mb-3 row">
			    <label for="idNombre" class="col-form-label">Nombre</label>
			    <input th:field="*{nombre}" type="text" class="form-control" id="idNombre">
			    <div class="text-danger" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></div>
			  </div>
			  <div class="mb-3 row">
			    <label for="idFechaInicio" class="col-form-label">Fecha de inicio</label>
				<input th:field="*{fechaInicio}" type="date" class="form-control" id="idFechaInicio">
				<div class="text-danger" th:if="${#fields.hasErrors('fechaInicio')}" th:errors="*{fechaInicio}"></div>
			  </div>
			  <div class="mb-3 row">
			    <label for="idDomicilio" class="col-form-label">Domicilio</label>
				<input th:field="*{domicilio}" type="text" class="form-control" id="idDomicilio">
				<div class="text-danger" th:if="${#fields.hasErrors('domicilio')}" th:errors="*{domicilio}"></div>
			  </div>
			  <div class="mb-3 row">
			    <label for="idPagina" class="col-form-label">Pagina</label>
				<input th:field="*{pagina}" type="text" class="form-control" id="idPagina">
				<div class="text-danger" th:if="${#fields.hasErrors('pagina')}" th:errors="*{pagina}"></div>
			  </div>
			  <div class="mb-3 row">
			    <label for="idDescripcion" class="col-form-label">Descripcion</label>
			    <input th:field="*{descripcion}" type="text" class="form-control" id="idDescripcion">	
			    <div class="text-danger" th:if="${#fields.hasErrors('descripcion')}" th:errors="*{descripcion}"></div>	    
			  </div>
			    
			  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
					<button  class="btn btn-primary me-md-2" type="submit">Registrar</button>
					<a th:href="@{/inicio}" id="cancel" class="btn btn-secondary">Cancelar</a>
			  </div>
			</form>
		</div>
		<br><br>
		<footer th:replace="/layouts/footer::footer"></footer>
	</body>
</html>